* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.title {
  margin: 40px;
  margin-bottom: 30px;
}

.container {
  border: 1px solid black;
  min-width: 300px;
  min-height: 325px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: hsl(0, 0%, 65%);
  border-radius: 10px;
}

.calc {
  padding: 10px;
}

.calc__display {
  min-width: 290px;
  min-height: 50px;
  background-color: #d1d5ba;
  border: 1px solid black;
  /* width: 100%; */
  margin: 10px;
}

.calc__buttonsgrid {
  display: grid;
  gap: 2px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-rows: minmax(55px, auto);
  text-align: center;
  /* margin-top: 2rem; */
  grid-template-areas:
    "ele1 ele2 ele3 ele4"
    "ele5 ele6 ele7 ele8"
    "ele9 ele10 ele11 ele12"
    "ele13 ele14 ele15 ele16"
    "ele17 ele17 ele18 ele16";
  min-width: 0;
  min-height: 0;
  /* margin: 10px; */
}

.button {
  background-color: hsl(0, 0%, 80%);
  display: grid;
  place-items: center;
  padding: 20px 0px;
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.c1 {
  grid-area: ele1;
}

.c2 {
  grid-area: ele2;
}
.c3 {
  grid-area: ele3;
}
.c4 {
  grid-area: ele4;
  background-color: #36babe;
}
.c5 {
  grid-area: ele5;
}
.c6 {
  grid-area: ele6;
}
.c7 {
  grid-area: ele7;
}
.c8 {
  grid-area: ele8;
}
.c9 {
  grid-area: ele9;
}
.c10 {
  grid-area: ele10;
}
.c11 {
  grid-area: ele11;
}
.c12 {
  grid-area: ele12;
}
.c13 {
  grid-area: ele13;
}
.c14 {
  grid-area: ele14;
}
.c15 {
  grid-area: ele15;
}
.c16 {
  grid-area: ele16;
  background-color: #36babe;
}
.c17 {
  grid-area: ele17;
}
.c18 {
  grid-area: ele18;
}

#redo {
  margin-top: 5rem;
  padding: 1rem;
  background-color: rgb(166, 215, 255);
  border-radius: 3px;
}
